/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* End Importing Fonts */

/* Universal Properties */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  color: var(--main-paragraph-color);
  box-sizing: border-box;
  list-style: none;
}
/* End Universal Properties */

/* Global Variables */
:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent-color: hsl(277, 64%, 61%);
  --main-heading-color: hsl(0, 0%, 100%);
  --main-paragraph-color: hsla(0, 0%, 100%, 0.75);
  --stats-heading: hsla(0, 0%, 100%, 0.6);
}
/* End Global Variables */

body {
  overflow: hidden;
}
::selection {
  background: hsla(277, 64%, 61%, 0.61);
}
#mobile-img {
  display: none;
}
.parent {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-background);
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  background-color: var(--card-background);
  overflow: hidden;
  width: 1140px;
  height: 446px;
  border-radius: 8px;
}
h1 {
  font-size: 37px;
  color: var(--main-heading-color);
  margin-bottom: 30px;
  padding-right: 20px;
}
h1 span {
  font-size: inherit;
  color: var(--accent-color);
}
p {
  line-height: 26px;
  width: 390px;
}
.text-section {
  padding: 70px 60px 60px 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
ul {
  display: flex;
  justify-content: space-between;
  width: 390px;
}
ul li {
  font-size: 27px;
  color: var(--main-heading-color);
  font-weight: bold;
  line-height: 25px;
}
ul li span {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  color: var(--stats-heading);
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
}
.photo-section {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.photo-section::before {
  content: "";
  background-color: hsl(277, 100%, 30%);
  opacity: 0.52;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1;
}

/* Media Queries */
@media (max-width: 376px) {
  .photo-section {
    height: 240px;
  }
  #mobile-img {
    display: initial;
    width: 100%;
  }
  #desktop-img {
    display: none;
  }
  .text-section {
    padding: 20px;
    align-items: center;
  }
  h1 {
    text-align: center;
    font-size: 28px;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 25px;
  }
  p {
    text-align: center;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
  }
  .stats {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul {
    flex-direction: column;
    width: fit-content;
    justify-content: space-between;
    height: 200px;
  }
  ul li {
    text-align: center;
    font-size: 23px;
  }
  .card {
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 327px;
    height: 800px;
  }
}
